<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- for android v13 above -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- for android v13 above -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".FirebaseOffline"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|uiMode"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".side_bar_menu.settings.KycActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.ResetAccountActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.LinkNumberActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.NumberWithoutEmailActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.PhoneLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".side_bar_menu.settings.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreatePinActivity"
            android:exported="false" />
        <activity
            android:name=".peer2peer.exchange.BuyerInputAmountActivity"
            android:exported="false" />
        <activity
            android:name=".peer2peer.exchange.BuyerPaymentInfoActivity"
            android:exported="false" />
        <activity
            android:name=".peer2peer.FingerprintActivity"
            android:exported="false" />
        <activity
            android:name=".peer2peer.exchange.SellerPaymentInfoActivity"
            android:exported="false" />
        <activity
            android:name=".peer2peer.exchange.SellerInputAmountActivity"
            android:exported="false" />
        <activity
            android:name=".side_bar_menu.wallet.ConvertFundActivity"
            android:exported="false" />
        <activity
            android:name=".side_bar_menu.wallet.EachAssetActivity"
            android:exported="false" />
        <activity
            android:name=".peer2peer.exchange.P2pExchangeActivity"
            android:exported="false" />
        <activity
            android:name=".side_bar_menu.wallet.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".side_bar_menu.wallet.TransactionReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CaptureAct"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".calls.CallPickUpCenter"
            android:exported="false" />
        <activity
            android:name=".photos.CameraActivity"
            android:exported="false" /> <!-- this is enable file to be send from my app storage to other app or open uri on default phone viewer -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pixel.chatapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.RedirectHome"
            android:exported="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- PDF MIME type -->
                <data android:mimeType="application/pdf" />

                <!-- MS Word MIME type -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

                <!-- CDR MIME types -->
                <data android:mimeType="application/cdr" />
                <data android:mimeType="image/cdr" />

                <!-- Photoshop MIME type -->
                <data android:mimeType="image/vnd.adobe.photoshop" />

                <!-- Image MIME types -->
                <data android:mimeType="image/*" />

                <!-- Video MIME types -->
                <data android:mimeType="video/*" />

                <!-- Audio MIME types -->
                <data android:mimeType="audio/*" />

                <!-- APK MIME type -->
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>
        <activity
            android:name=".photos.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".photos.SendImageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" -->
        <!-- android:theme="@style/Base.Theme.AppCompat" -->
        <!-- /> -->
        <activity
            android:name=".photos.UploadProfileImage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".photos.ZoomImage"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".calls.CallCenterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".contacts.UsersContactActivity"
            android:exported="true" />
        <activity
            android:name=".side_bar_menu.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".chats.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.ForgetActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.EmailOrPhoneLoginActivity"
            android:exported="false" />
        <activity
            android:name=".signup_login.SetUpProfileActivity"
            android:exported="true" />
        <activity
            android:name=".home.MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:exported="true"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>